.sgpm-c-header {
  background-color: $light-red;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 1.5rem;
  justify-content: space-between;
}

@media (max-width: 930px) {
  .sgpm-c-header {
    font-size: 1.2rem;
  }
}
