.sgpm-c-input {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 2rem;

  &--pw {
    padding-right: 1rem;
  }

  &--sb {
    padding-right: 1rem;
  }

  &__input {
    background-color: transparent;
    border: none;
    padding: 0.8rem 1.5rem;

    &:focus {
      outline: none;
    }
  }

  &__visibility-button {
    svg {
      width: 3rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__search-button {
    svg {
      width: 3rem;
      fill: $dark-gray;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      svg {
        fill: $gray;
      }
    }
  }
}
