.sgpm-c-layout {
  display: grid;
  grid-template-areas: 'sidebar header' 'sidebar main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  background-color: $light-gray;
  height: 100vh;

  &__header {
    grid-area: header;
    height: 8rem;
  }

  &__sidebar {
    grid-area: sidebar;
    position: sticky;
  }

  &__main {
    grid-area: main;
    height: calc(100vh - 8rem);
  }
}

@media (max-width: 1180px) {
  .sgpm-c-layout {
    &__sidebar {
      position: absolute;
    }

    &__header {
      margin-left: 8rem;
    }

    &__main {
      overflow-y: auto;
      max-width: 100%;
    }
  }
}

@media (max-width: 930px) {
  .sgpm-c-layout {
    &__header {
      height: 6rem;

      margin-left: 6rem;
    }

    &__main {
      height: calc(100vh - 6rem);
    }
  }
}
