.sgpm-c-layout {
  display: grid;
  grid-template-areas: 'sidebar header' 'sidebar main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  background-color: $light-gray;

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
    position: sticky;
  }

  &__main {
    grid-area: main;
  }
}

@media (max-width: 1180px) {
  .sgpm-c-layout {
    &__sidebar {
      position: absolute;
    }

    &__header {
      margin-left: 8rem;
    }
  }
}
