.sgpm-c-layout {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: auto 1fr;
  background-color: $light-gray;
}

.sgpm-c-layout__sidebar {
  grid-area: sidebar;
}

.sgpm-c-layout__main {
  grid-area: main;
}
