.sgpm-c-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  * {
    color: var(--text-color);
    font-size: 1rem;
  }

  &__required-indicator {
    color: var(--red-500);
  }

  &__field {
    width: 100%;
    display: flex;
    border: solid var(--neutral-on-surface) 2px;
    border-radius: 4px;
    transition: linear 0.1s;

    &:focus-within {
      border: solid var(--primary-on-surface) 2px;
    }

    input {
      outline: none;
      border: none;
      padding: 0.3rem;
      width: 100%;
      background-color: transparent;
    }
  }

  &__toggle-visibility-btn {
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
    padding: 0rem;
    border: none;
    background-color: transparent;

    svg {
      font-size: 1.5rem;
      fill: var(--neutral-on-surface);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
