.sgpm-c-toggle-switch {
  cursor: pointer;
  position: relative;
  display: flex;
  height: 20px;
  align-items: center;

  input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .sgpm-c-toggle-switch__slider {
      background-color: var(--primary-on-surface);
    }

    &:checked + .sgpm-c-toggle-switch__slider:before {
      -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
      transform: translateX(15px);
    }
  }

  &__slider {
    position: relative;
    height: 20px;
    width: 35px;
    background-color: var(--gray-500);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50px;

    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      top: 2px;
      left: 2px;
      background-color: var(--white);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
