$white: #fafafa;
$gray-100: #efefef;
$gray-200: #d4d4d4;
$gray-300: #acacac;
$gray-400: #8f8f8f;
$gray-500: #4b4b4b;
$black: #070707;
$red-100: #ff6c6c;
$red-200: #ca2828;
$red-300: #ae2020;
$red-400: #850000;
$red-500: #680000;
$blue-100: #98c2ff;
$blue-200: #226ad4;
$blue-300: #00116c;
$yellow-100: #ffdc98;
$yellow-200: #ffc659;
$yellow-300: #ffa700;
$green-100: #7cff89;
$green-200: #3cdb4c;
$green-300: #02b013;
