//1 - COLORS
$light-gray: #efefef;
$light-gray2: #d4d4d4;
$gray: #acacac;
$dark-gray: #8f8f8f;

$whitish-red: #ff6c6c;
$light-red: #ca2828;
$light-red2: #ae2020;
$red: #8b0000;
$dark-red: #680000;

$whitish-blue: #98c2ff;
$light-blue: #226ad4;
$blue: #00116c;

$whitish-yellow: #ffdc98;
$yellow: #ffc659;

$whitish-green: #7cff89;
$light-green: #3cdb4c;
$green: #02b013;
