:root {
  --header-background-color: var(--gray-100);
  --header-title-color: var(--red-600);

  &.theme--dark {
    --header-background-color: var(--gray-800);
    --header-title-color: var(--gray-100);
  }
}
