.sgpm-p-help {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__faq,
  &__contact {
    background-color: white;
    border-radius: 3rem;
    padding: 6rem;

    h1 {
      color: $light-blue;
      font-size: 2.6rem;
    }

    ul {
      font-size: 2.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;
      margin-top: 2rem;

      li {
        height: auto;
      }

      a {
        text-decoration: underline;
        color: black;

        &:active {
          color: gray;
        }
      }
    }
  }

  &__faq {
    margin: 8rem 8rem 4rem 8rem;
    height: 60%;
  }

  &__contact {
    margin: 4rem 8rem 8rem 8rem;
    height: 40%;
  }
}

@media (max-width: 930px) {
  .sgpm-p-help__faq,
  .sgpm-p-help__contact {
    h1 {
      font-size: 2.4rem;
    }

    ul {
      font-size: 2rem;
      justify-content: space-between;
    }
  }

  .sgpm-p-help__faq {
    margin: 6rem 6rem 2rem 6rem;
  }

  .sgpm-p-help__contact {
    margin: 2rem 6rem 6rem 6rem;

    ul {
      height: 60%;
    }
  }
}

@media (max-width: 540px) {
  .sgpm-p-help__faq,
  .sgpm-p-help__contact {
    padding: 4rem;

    h1 {
      font-size: 2rem;
    }

    a {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 450px) {
  .sgpm-p-help__faq {
    margin: 4rem 2rem 1rem 2rem;
  }
  .sgpm-p-help__contact {
    margin: 1rem 2rem 4rem 2rem;
  }
}
