.sgpm-p-settings {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__notifications,
  &__delete-account {
    background-color: white;
    border-radius: 3rem;
    padding: 5rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    font-size: 2.2rem;
  }

  &__notifications {
    margin: 8rem 8rem 4rem 8rem;

    h1 {
      color: $light-blue;
      font-size: 2.6rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80%;
      margin-top: 2rem;

      li {
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
      }
    }
  }

  &__delete-account {
    margin: 4rem 8rem 8rem 8rem;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: column;
    }

    h1 {
      color: $light-red2;
      font-size: 2.6rem;
    }
  }
}

@media (max-width: 930px) {
  .sgpm-p-settings__notifications,
  .sgpm-p-settings__delete-account {
    h1 {
      font-size: 2.4rem;
    }
  }

  .sgpm-p-settings__notifications {
    margin: 6rem 6rem 2rem 6rem;

    ul {
      font-size: 2rem;
      justify-content: space-between;
    }
  }

  .sgpm-p-settings__delete-account {
    margin: 2rem 6rem 6rem 6rem;
    font-size: 2rem;
  }
}

@media (max-width: 630px) {
  .sgpm-p-settings__notifications,
  .sgpm-p-settings__delete-account {
    padding: 4rem;

    h1 {
      font-size: 2.2rem;
    }
  }

  .sgpm-p-settings__notifications {
    margin: 4rem 2rem 1rem 2rem;

    ul {
      font-size: 1.8rem;
      justify-content: space-between;
    }
  }

  .sgpm-p-settings__delete-account {
    margin: 1rem 2rem 4rem 2rem;
    font-size: 1.8rem;
  }
}
