.sgpm-c-layout {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "main main";
  grid-template-columns: 3rem 1fr;
  grid-template-rows: 3rem 1fr;

  &__sidebar {
    grid-area: sidebar;
    z-index: 8;
  }

  &__main {
    grid-area: main;
  }
}

@media only screen and (min-width: breakpoint(sm)) {
  .sgpm-c-layout {
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 4rem 1fr;
  }
}

@media only screen and (min-width: breakpoint(md)) {
  .sgpm-c-layout {
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: 4rem 1fr;
  }
}
