.sgpm-c-layout {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: auto 1fr;
  grid-template-rows: 5rem 1fr;

  &__sidebar {
    grid-area: sidebar;
    z-index: 8;
  }

  &__main {
    grid-area: main;
  }
}
