:root {
  --white: #fafafa;
  --black: #121212;
  --gray-100: #eeeeee;
  --gray-200: #cbcbcb;
  --gray-300: #a9a9a9;
  --gray-400: #969696;
  --gray-500: #838383;
  --gray-600: #646464;
  --gray-700: #525252;
  --gray-800: #343434;
  --gray-900: #1f1f1f;
  --red-100: #ffdbdb;
  --red-200: #f49494;
  --red-300: #f26e6e;
  --red-400: #ea5353;
  --red-500: #d02f2f;
  --red-600: #961515;
  --red-700: #750f0f;
  --red-800: #5c0707;
  --red-900: #3d0000;
  --blue-100: #dbeaff;
  --blue-200: #a8cafd;
  --blue-300: #74a7f3;
  --blue-400: #4b8cef;
  --blue-500: #2162c3;
  --blue-600: #0f489e;
  --blue-700: #07367d;
  --blue-800: #032455;
  --blue-900: #00183d;
  --green-100: #dbffdb;
  --green-200: #9ff99d;
  --green-300: #7cfa7a;
  --green-400: #5fef5c;
  --green-500: #32da2e;
  --green-600: #19bb16;
  --green-700: #0f9d0c;
  --green-800: #076705;
  --green-900: #013d00;
  --yellow-100: #fff3db;
  --yellow-200: #fde3b1;
  --yellow-300: #faca6e;
  --yellow-400: #fac152;
  --yellow-500: #e3a939;
  --yellow-600: #ba7f0c;
  --yellow-700: #936305;
  --yellow-800: #6c4803;
  --yellow-900: #3d2800;
}
